<div class="bikes-component">
    <div class="bikes">
        <div class="bikes-container">
            <div class="labels">
                <div>Id</div>
                <div class="name">Name</div>
                <div class="actions">Actions</div>
            </div>
            <div class="bike" *ngFor="let b of displayedBikes">
                <div class="id">{{b.id}}</div>
                <div class="status">{{b.status}}</div>
                <div class="status">{{b?.station?.id}}</div>
                <div class="actions">
                    <button>Delete bike</button>
                </div>
            </div>
        </div>
    </div>
</div>
