.stations-component {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;

  button {
    margin: 0 10px;
  }

  .header {
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
  }

  .buttons {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .stations {
    padding: 20px;
    width: 99%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .filter {
      width: 50%;
      margin-bottom: 20px;

      input {
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        background: #fff;
        border: none;
        outline: none;
        transition: .2s;
        -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);

        &:focus {
          -webkit-box-shadow: 0px 0px 15px 3px rgba(35, 137, 205, 0.55);
          -moz-box-shadow: 0px 0px 15px 3px rgba(35, 137, 205, 0.55);
          box-shadow: 0px 0px 15px 3px rgba(35, 137, 205, 0.55);
        }
      }
    }

    .stations-container {
      width: 99%;
      padding: 15px;
      border-radius: 15px;
      background: #fff;
      -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);

      & > div {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;

        .name {
          margin-left: auto;
        }

        .actions {
          width: 66%;
          margin-left: auto;

          a {
            padding-right: 10px;
          }
        }
      }

      .labels {
        padding-bottom: 10px;
        color: #000;

        .id {
          width: 20%;
        }

        .name {
          width: 25%;
        }

        .actions {
          display: flex;
          justify-content: center;
          width: 55%;
        }

        .actions {
          margin-left: auto;
        }
      }

      .station {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #ddd;
        transition: .2s;
        cursor: pointer;

        .id {
          width: 20%;
        }

        .name {
          width: 25%;
        }

        .actions {
          width: 55%;
          display: flex;
          justify-content: center;
        }

        &:hover, &.active {
          background: #eee;
          color: #000;
        }
      }
    }
  }

  .add-station-modal-bg,
  .add-bike-modal-bg,
  .delete-station-modal-bg,
  .add-bike-modal-bg,
  .change-station-state-modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: RGBA(20,20,20, .4);
    display: grid;
    place-items: center;

    .add-station-modal,
    .add-bike-modal,
    .change-station-state-modal,
    .add-bike-modal,
    .delete-station-modal {
      background: #fff;
      width: 400px;
      padding: 50px;
      border-radius: 15px;
      -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);

      .description {
        margin-bottom: 50px;
        font-size: 20px;
        text-align: center;

        span {
          color: #2389cd;
        }
      }

      .form {

      }

      .actions {

        display: flex;
        justify-content: center;
        margin-top: 50px;

        button {
          border: 0;
          color: #fff;
          transition: .2s;
          width: 100px;
          height: 62px;
          font-size: 20px;
          cursor: pointer;
          outline: none;
          margin-right: 10px;
          border-radius: 5px;

          &.yes {
            background: #3ea0dc;

            &:hover {
              background: #2389cd;
            }
          }

          &.no {
            background: #ff6b54;

            &:hover {
              background: #ff4b40;
            }
          }
        }
      }
    }
  }
}

.remove-button {
  border: unset;
  background: #dc4343;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease-in-out all .2s;
  display: block;
  padding: 5px 10px;
  font-size: 14px;

  &:hover {
    background: #b11c23 !important;
  }

}

.unlock-button {
  border: unset;
  background: #3ea0dc;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease-in-out all .2s;
  display: block;
  padding: 5px 10px;
  font-size: 14px;

  &:hover {
    background: #2389cd !important;
  }

}

.add-button {
  border: unset;
  background: #7bd055;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease-in-out all .2s;
  display: block;
  padding: 5px 10px;
  font-size: 14px;

  &:hover {
    background: #55971c !important;
  }

}
