<div class="stations-component">

  <div class="stations">

    <div class="filter">
      <input id="filer-stations" value="{{filter}}" type="text" #v placeholder="Filter" (input)="onFilterInput(v.value)">
    </div>

    <div class="stations-container">
      <div class="labels">
        <div class="id">Id</div>
        <div class="name">Name</div>
        <div class="actions">Actions</div>
      </div>
      <div class="station" *ngFor="let s of displayedStations">
        <div class="id">{{s.id}}</div>
        <div class="name">{{s.name}}</div>
        <div class="actions">
          <button class="ui-button add-button" (click)="onAddNewBikeClick(s)">Add bike</button>
          <button class="ui-button unlock-button" (click)="onStationChangeStateClick(s)">{{isStationBlocked(s) ? "Unblock" : "Block"}}</button>
          <button class="ui-button remove-button" (click)="onDeleteStationClick(s)">Remove station</button>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button class="ui-button add-button" (click)="onAddStationClick()">Add station</button>
    </div>

  </div>

  <div class="add-bike-modal-bg" *ngIf="showAddBikeConfirmDialog">
    <div class="add-bike-modal">
      <div class="description">
        Are you sure you want to add a new bike to station <span>{{stationDTO.name}}</span>?
      </div>
      <div class="actions">
        <button class="no" (click)="onAddNewBikeCancel()">No</button>
        <button class="yes" (click)="onAddNewBikeConfirm()">Yes</button>
      </div>
    </div>
  </div>

  <div class="add-station-modal-bg" *ngIf="showAddStationConfirmDialog">
    <div class="add-station-modal">

      <div class="description">
        New station
      </div>

      <div class="form">
        <table>
          <tr>
            <td>Name</td>
            <td><input id="name" type="text" #name placeholder="stations name" (input)="createStationRequestDTO.name=name.value" /></td>
          </tr>
          <tr>
            <td>Capacity</td>
            <td><input id="capacity" type="number" #capacity placeholder="positive number" (input)="createStationRequestDTO.maxBikes=capacity.valueAsNumber" /></td>
          </tr>
        </table>
      </div>

      <div class="actions">
        <button class="no" (click)="onAddStationCancel()">Cancel</button>
        <button class="yes" (click)="onAddStationConfirm()">Add</button>
      </div>
    </div>
  </div>

  <div class="change-station-state-modal-bg" *ngIf="showStationStateChangeConfirmationDialog">
    <div class="change-station-state-modal">
      <div class="description">
        Are you sure you want to {{isStationBlocked(stationDTO) ? "unblock" : "block"}} station <span>{{stationDTO.name}}</span>?
      </div>
      <div class="actions">
        <button class="no" (click)="onStationChangeStateCancel()">No</button>
        <button class="yes" (click)="onStationChangeStateConfirm()">Yes</button>
      </div>
    </div>
  </div>

  <div class="delete-station-modal-bg" *ngIf="showDeleteStationConfirmDialog">
    <div class="delete-station-modal">
      <div class="description">
        Are you sure you want to delete station <span>{{stationDTO.name}}</span>?
      </div>
      <div class="actions">
        <button class="no" (click)="onDeleteStationCancel()">No</button>
        <button class="yes" (click)="onDeleteStationConfirm()">Yes</button>
      </div>
    </div>
  </div>

</div>
